//indent, space
DOCTYPE 5
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        link(rel='stylesheet', href='/stylesheets/error.css', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300', rel='stylesheet', type='text/css')
        title Next Library
    body
        nav
            #home(onclick='location.href=\'/\';')
                | Next Library
        #error
            | Error!
        #detailMessage
            .MsgContainer
                | #{errorMsg}
                br
        #mainMessage
            .MsgContainer
                br
                | ( ͡° ͜ʖ ͡°) 애기야... 에러가 나버렷네 ㅎ.. 다시해볼래?
                br
                | 모르겟으면 오빠 불러 ㅎㅎ.. 몸과 마음으로 도와쥬께 ㅎㅎ...
                br
                | 몸과 마음 ㅎㅎ... 몸... ㅎㅎ.. 외 그러케 봐.. ㅎ.. 넝담~
