<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel = "stylesheet" href = "stylesheets/home.css" type = "text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
<title>Next Library</title>
</head>
<body>
	<nav>
		Next Library
	</nav>
	<div id = "main">
		<div id = "intro_message">
			Next Library,<br/>
			책을 찾아 주세요!
		</div>
		<div id = "login_button" onclick="location.href='/login';">
			로그인
		</div>
		<!--
<div id = "login_button" onclick="location.href='/register';">
			회원가입
		</div>
-->
		<div id = "introduction_button">
			이건 뭐에요?
		</div>	
	</div>
	<div id = "introduction">
			많은 사람들이 사용하는 넥스트 라이브러리. <br/>
			라이브러리에 지금 보고 싶은 책이 없으세요? <br/>
			여기에 지금 보고 싶다고 메세지를 남겨주세요! <br/>
			
	</div>
</body>
	<script src = "javascripts/home.js"></script>	
</html>