//indent, space
DOCTYPE 5
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        link(rel='stylesheet', href='stylesheets/login.css', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300', rel='stylesheet', type='text/css')
        title Next Library
    body
        nav
            #home(onclick='location.href=\'/\';')
                | Next Library
        #mainMessage
            | Next Library Check System
        #loginSection
            #loginForm
                form(action='/loginComplete', method='post')
                    input.input(type='text', name='userId', placeholder=' ID')
                    br
                    br
                    input.input(type='password', name='password', placeholder=' password')
                    br
                    button#loginButton(type='submit')
                        | 로그인
        #loginGuide
            | 학사행정 시스템과 같은 아이디, 비밀번호를 입력해주세요.

