<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel = "stylesheet" href = "stylesheets/login.css" type = "text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
<title>Next Library</title>
</head>
<body>
	<nav>
		Next Library
	</nav>
	<div id = "mainMessage">
		Next Library Check System
	</div>
	<div id = "loginSection">
		<div id = "loginForm">
			<form action = "/login/signIn" method = "post">
				<input class = "input" type = "text" name = "userId" placeholder=" ID"/><br/><br/>
				<input class = "input" type = "password" name = "password" placeholder=" password"/><br/></br>
				<button type = "submit" id = "loginButton">
					로그인
				</button>
			</form>
		</div>
	</div>
	<div id = "loginGuide">
		학사행정 시스템과 같은 아이디, 비밀번호를 입력해주세요.
	</div>
</body>
</html>