<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Register Page</title>
<link rel = "stylesheet" href = "/stylesheets/register.css" type = "text/css" />
<link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav>
		Next Library 
	</nav>
	<div id = "registerSection">
		<div id = "registerMessage">
			Register
		</div>
		<div id = "registerForm">
			<form action = "/login/signUp" method="post">
				User ID &nbsp : &nbsp <input class = "input" type = "text" name = "userId" placeholder=" ID"/> </br>
				<div class = "blank"></div>
				User Nickname &nbsp : &nbsp <input class = "input" type = "text" name = "nickName" placeholder=" Nickname"/> </br>
				<div class = "blank"></div>
				Password &nbsp : &nbsp <input class = "input" type = "password" name = "password" placeholder="  password"/> </br> 
				<div class = "blank"></div>
				<button type = "submit" id = "registerButton">
					가입하기
				</button>
			</form>
		</div>
	</div>
</body>
</html>