//indent, space
DOCTYPE 5
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        link(rel='stylesheet', href='stylesheets/home.css', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300', rel='stylesheet', type='text/css')
        title Next Library
    body
        nav
            #home(onclick='location.href=\'/\';')
                | Next Library
        #main
            #intro_message
                | Next Library,
                br
                | 책을 찾아 주세요!
            #login_button(onclick='location.href=\'/login\';')
                | 로그인
            #register_button(onclick='location.href=\'/register\';')
                | 회원가입
        #introduction
            | 많은 사람들이 사용하는 넥스트 라이브러리.
            br
            | 라이브러리에 지금 보고 싶은 책이 없으세요?
            br
            | 여기에 지금 보고 싶다고 메세지를 남겨주세요!
            br

